Phishing Alert.json
{
  "name": "Phishing Alert",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "filters": {
          "includeSpamTrash": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "f993abf3-2385-4f13-9762-a5c01a2fee04",
      "name": "Gmail Trigger",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "gmailOAuth2": {
          "id": "J1JjsPt7KEaamgCD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = (\n  ($json.subject || \"\") +\n  \" \" +\n  ($json.body || \"\")\n).toLowerCase();\n\nconst keywords = [\n  \"verify account\",\n  \"password\",\n  \"reset\",\n  \"urgent\",\n  \"click here\",\n  \"login\",\n  \"bank\",\n  \"payment\",\n  \"confirm identity\"\n];\n\nlet score = 0;\nlet matches = [];\n\nfor (const keyword of keywords) {\n  if (text.includes(keyword)) {\n    score += 15;\n    matches.push(keyword);\n  }\n}\n\nreturn [{\n  sender: $json.sender,\n  subject: $json.subject,\n  risk_score: score,\n  indicators: matches\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        144
      ],
      "id": "88ddf283-0246-4487-b701-e67cc28168e3",
      "name": "Code in JavaScript",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f77b2670-d526-4b15-acb1-6f836f5d343f",
              "leftValue": 0,
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        144
      ],
      "id": "ce12962d-a1a0-49b4-a9d6-fcb28f45fd76",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "amogh.sonawane@gmail.com",
        "subject": "⚠️ Phishing Alert Detected",
        "message": "=<h2>⚠️ Phishing Alert Detected</h2>\n\n<p><b>Sender:</b> {{$json.sender}}</p>\n\n<p><b>Subject:</b> {{$json.subject}}</p>\n\n<p><b>Severity:</b> {{$json.severity}}</p>\n\n<p><b>Risk Score:</b> {{$json.risk_score}}</p>\n\n<p><b>Indicators:</b></p>\n\n<pre>{{$json.indicators}}</pre>\n\n<hr>\n\n<p>This email was flagged by the n8n Phishing Detection System.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        224
      ],
      "id": "bd250139-904a-42ca-b5e3-a710e47b557d",
      "name": "Send a message",
      "webhookId": "3d2c0ef9-3947-4565-b50e-ff1e471979aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "J1JjsPt7KEaamgCD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "439a010d-0ae5-401f-b36b-0969631e1295",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf22a9aaad14b959ef560aa7c1afa774e2c4355e1a91ebd2404bad15b9a3695c"
  },
  "nodeGroups": [],
  "id": "d7cAPD6n9P479kQI",
  "tags": []
}